* {
  padding: 0;
  margin: 0;
}

body {
background-color: rgba(0, 0, 0, 0.103);
}
.all {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: center;
  /* padding-top: 10%; */
}

.laptops {
  width: 15%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 8px;
  box-shadow: 10px 10px 20px 10px #999;
  cursor: pointer;
}

.laptops img {
  width: 90%;
  height: 50%;
  /* mix-blend-mode: color-dodge; */

}

.laptops h2 {
  font-size: 30px;
  font-weight: 100;
  padding-left: 20px;
  color: #888;
}

.laptops h3 {
  color: #111;
  font-size: 24px;
  padding-left: 20px;
  font-weight: 500;
}

.laptops h4 {
  color: #999;
  font-size: 24px;
  padding-left: 20px;
  text-decoration: line-through;
}
